@*@model double[][]*@

@{
    ViewBag.Title = "Route";
}

<h2>Route</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div id="map" class="form-group" style="width: 600px; height: 500px"></div>
    <script type="text/javascript">
        $(document).ready(function () { createMap(15, createPoint(-31.2528803, -61.4919196), false) });
    </script>
    @*<script type="text/javascript">
        $(document).ready(function () { drawRoute(@JavaScriptConvert.SerializeObject(Model)); });
    </script>*@
}
@Scripts.Render("~/Scripts/maps.js")
@Scripts.Render("~/Scripts/calculate.js")